// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.video-container {
    height: 430px;
    border: 2px solid #645cff;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 11px #9e9e9e;

    .my-video {
        width: 130px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        border: 6px solid #2196f3;
        border-radius: 6px;
        z-index: 2;
    }

    .user-video {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .end-button {
        position: absolute;
        bottom: 10px;
        border-radius: 50%;
        z-index: 2;
        right: 50%;
        left: 50%;
        color: red;
        width: 40px;
        height: 40px;
        font-weight: 900px;
        background-color: black;
        border: 1px solid white;
    }

    .end-button:hover {
        box-shadow: 1px 1px 11px #9e9e9e;
        bottom: 20px;
        cursor: pointer;

    }

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_button {
    margin: auto;
    padding: 20px;
}

.button {
    border-radius: 20px;
}








